.App {
  display: grid;
  height: 100vh;
  margin: -10px;
}

.Navbar {
  grid-area: navbar;
}

.Editor {
  grid-area: editor;
  overflow: auto;
}

.Header {
  grid-area: header;
}

.Explorer {
  grid-area: explorer;
}

.title {
  background-color: var(--darkest-background);
  grid-area: title;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  padding-top: 25px;
}
