@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');

:root {

    /* palette */
    --dark-background: #1D3663;
    --light-background: #F0F7FA;
    --medium-background: #E0E9F6;
    --action-button: #F37A32;
    --passive-button: #8BA3CC;
    --area-button: #b7c7e0;
    --text-medium: #455f8b;
    --text-dark: #10254A;
}

body {  
    font-family: 'Source Sans Pro', Geneva, Verdana, sans-serif;
    overflow: hidden;
}

