@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');

:root {

    /* palette */
    --dark-background: #1D3663;
    --light-background: #F0F7FA;
    --action-button: #F37A32;
    --passive-button: #748DBA;
    --text-dark: #10254A;

}

body {  
    font-family: 'Source Sans Pro', Geneva, Verdana, sans-serif;
}

