.MyDocuments {
    composes: App from "../App.module.css";
    display: grid;
    height: 100vh;
    margin: -10px;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
      "title header"
      "navbar body";
}

.Navbar {
    composes: Navbar from "../App.module.css";
    grid-area: navbar;
}
  
.Explorer {
    composes: Explorer from "../App.module.css";
    grid-area: explorer;
}

.Header {
    composes: Header from "../App.module.css";
    grid-area: header;
}

.title {
    composes: title from "../App.module.css";
    grid-area: title;
}
  
.body-container {
    grid-area: body;
    overflow: auto;
}
