.MyDocuments {
    composes: App from "../App.module.css";
    display: grid;
    height: 100vh;
    margin: -10px;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
      "title page-title"
      "navbar icon-explorer";
}

.Navbar {
    composes: Navbar from "../App.module.css";
    grid-area: navbar;
}
  
.IconExplorer {
    composes: IconExplorer from "../App.module.css";
    grid-area: icon-explorer;
}
  
.title {
    composes: title from "../App.module.css";
    grid-area: title;
}

.page-title-container {
    grid-area: page-title;
    display: flex;
    padding: 1rem;
    padding-left: 4rem;
    align-items: center;
    color: var(--text-dark);
    font-weight: 300;
    font-size: 22px;
    background-color: var(--light-background);
}