.btn-default {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-default:hover {
    cursor: pointer;
}

    .icon-default {
        composes: btn-default;
    }

        .icon-navbar-default {
            composes: icon-default;
            color: white;
            font-size: 17px;
            padding: 20px;
            padding-top: 25px;
            width: 260px;
            height: 60px;
            border-radius: 4px;
            border: none;
            background-color: var(--dark-background);
            justify-content: left;
            gap: 10px;
        }

            .icon-navbar-default-text {
            }

            .icon-navbar-default-icon {
                width: 30px;
                height: 30px;
            }

            .icon-navbar-selected {
                composes: icon-navbar-default;
                background-color: var(--text-dark);
                border-left: 8px solid var(--action-button);
                border-radius: 0px;
            }

                .icon-navbar-selected-text {
                    composes: icon-navbar-default-text;
                }

                .icon-navbar-selected-icon {
                    composes: icon-navbar-default-icon;
                    fill: var(--action-button);
                }

            .icon-navbar-plain {
                composes: icon-navbar-default;
            }

                .icon-navbar-plain-text {
                    composes: icon-navbar-default-text;
                }   
                
                .icon-navbar-plain-icon {
                    composes: icon-navbar-default-icon;
                    fill: var(--passive-button);
                    
                }



        .icon-add-component-default {
            composes: icon-default;
            border: none;
            border-radius: 0px;
            background-color: var(--area-button);
            color: var(--text-medium);
        }
    
            .icon-add-component-textarea {
                composes: icon-add-component-default;
                padding: 2rem;
                height: 100px;
                width: inherit;
                text-align: left;
                justify-content: left;
                gap: 15px;
                font-size: 14px;
                font-weight: bold;
            }

                .icon-add-component-textarea-icon {
                    height: 60px;
                    width: 60px;
                    fill: var(--text-medium);
                }

                .icon-add-component-textarea-text {
                }

            .icon-add-component-document {
                composes: icon-add-component-default;
                height: 192px;
                width: 120px;
            }

                .icon-add-component-document-icon {
                    height: 60px;
                    width: 60px;
                    fill: var(--text-medium);
                } 

        .icon-single-default {
            composes: icon-default;
        }

            .icon-single-header {
                composes: icon-single-default;
            }

                .icon-single-header-icon {

                }

            .icon-single-textbox {
                composes: icon-single-default;
                background-color: transparent;
                border: none;
                width: 30px;
                height: 30px;
            }

                .icon-single-textbox-icon-passive {
                    height: 22px;
                    width: 22px;
                    fill: var(--passive-button);
                }

                .icon-single-textbox-icon-passive:hover {
                    fill: var(--text-dark);
                }

                .icon-single-textbox-icon-active {
                    height: 20px;
                    width: 20px;
                    stroke: var(--action-font);
                }

                .icon-single-textbox-icon-active:hover {
                    stroke: var(--action-button);
                }

            .icon-minus-mydocuments {
                composes: icon-single-default;
                background-color: transparent;
                width: 20px;
                border: none;
                position: absolute;
                right: -10px;
                top: -10px;
            }

                .icon-minus-mydocuments-icon {
                    fill: var(--passive-button);
                    width: 20px;
                }

                .icon-minus-mydocuments-icon:hover {
                    fill: var(--text-medium)
                }


    
    .actionbar-default{
        composes: btn-default;
        color: var(--text-dark);
        font-weight: bold;
        font-size: 15px;
        width: 130px;
        height: 35px;
        border-radius: 4px;
        border: none;
    }

        .actionbar-validate{
            composes: actionbar-default;
            background-color: var(--action-button);

        }
        .actionbar-save{
            composes: actionbar-default;
            background-color: var(--passive-button);
        }

    .mydocuments-delete {
        composes: btn-default;
        border-radius: 4px;
        border: none;
        color: var(--text-dark);
        font-weight: bold;
        font-size: 15px;
        width: 80px;
        height: 25px;
        background-color: var(--passive-button);
    }

        .mydocuments-delete-cancel {
            composes: mydocuments-delete;
            background-color: var(--area-button);
        }

        .mydocuments-delete-edit {
            composes: mydocuments-delete;
            background-color: var(--passive-button);
        }