.btn-default {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-default:hover {
    cursor: pointer;
}

    .icon-default {
        composes: btn-default;
    }

        .icon-navbar-default {
            composes: icon-default;
            color: var(--light-background);
            font-size: 15px;
            width: 260px;
            height: 45px;
            border-radius: 4px;
            border: none;
            background-color: var(--dark-background);
            justify-content: left;
        }

            .icon-navbar-default-text {
            }

            .icon-navbar-selected {
                composes: icon-navbar-default;
            }

                .icon-navbar-selected-text {
                    composes: icon-navbar-default-text;
                }

            .icon-navbar-plain {
                composes: icon-navbar-default;
            }

                .icon-navbar-plain-text {
                    composes: icon-navbar-default-text;
                }            



        .icon-add-component-default {
            composes: icon-default;
            border: none;
            border-radius: 0px;
        }
    
            .icon-add-component-textarea {
                composes: icon-add-component-default;
                background-color: var(--area-button);
                color: var(--text-medium);
                padding: 2rem;
                height: 100px;
                width: inherit;
                text-align: left;
                justify-content: left;
                gap: 15px;
                font-size: 14px;
                font-weight: bold;
            }

                .icon-add-component-textarea-icon {
                    height: 60px;
                    width: 60px;
                    fill: var(--text-medium);
                }

                .icon-add-component-textarea-text {
                }

        .icon-single-default {
            composes: icon-default;
        }

            .icon-single-header {
                composes: icon-single-default;
            }

                .icon-single-header-icon {

                }

            .icon-single-textbox {
                composes: icon-single-default;
                background-color: transparent;
                border: none;
                width: 30px;
                height: 30px;
            }

                .icon-single-textbox-icon {
                    height: 20px;
                    width: 20px;
                    fill: var(--passive-button);
                }

                .icon-single-textbox-icon:hover {
                    fill: var(--text-dark);
                }


    
    .actionbar-default{
        composes: btn-default;
        border-radius: 2px;
        color: var(--text-dark);
        font-weight: bold;
        font-size: 15px;
        width: 130px;
        height: 35px;
        border-radius: 4px;
        border: none;
    }

        .actionbar-validate{
            composes: actionbar-default;
            background-color: var(--action-button);

        }
        .actionbar-save{
            composes: actionbar-default;
            background-color: var(--passive-button);
        }