.Carousel {
    composes: Carousel from './Editor.module.css';
    
}

    .carousel-container {
        composes: Carousel;
        display: flex;
        flex-direction: column;
        padding: 4rem;
        padding-top: 2rem;
        gap: 2rem;
        margin-right: 15rem; 
    }

    .MistakeBox {
        composes: MistakeBox from './Editor.module.css';
    }
    
        .mistakeBox-container {
            composes: MistakeBox;
            display: flex;
            flex-direction: row;
            padding: 5rem;
            padding-top: 50rem;
            margin-left: 158rem; 
            margin-right: 3rem; 
            margin-top: 2rem;
            background-color: var(--passive-button);

        }


.icon-add-component-textarea-icon {
    composes: icon-add-component-textarea-icon from './Button.module.css';
}






