.Editor {
    composes: Editor from '../App.module.css';
    background-color: var(--light-background);
}

    .editor-container {
        composes: Editor;
        
    }

.Carousel {
    
}

.MistakeBox{
    
}

