.Editor {
    composes: Editor from '../App.module.css';
    background-color: var(--light-background);
}

    .editor-container {
        composes: Editor;
        display: flex;
        flex-direction: row;
    }

.Carousel {
    flex-grow: 1;
    margin-right: 0px;
}


.SideMistakeBar{
    flex-grow: 1;
}

.button {
    margin-top: 2rem;
    width: 40px;
    height: 50px;
    border: none;
    background-color: var(--text-dark);
    color: white;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
    /* transition: all 0.5s ease-in-out; */
  }
  
  .buttonShifted {
    composes: button;
  }

