.ExplorerPreview {
    composes: Explorer from './Explorer.module.css';
    height: 100vh;
}

    .explorer-container {
        composes: ExplorerPreview;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        column-gap: 30px;
        row-gap: 30px;
        padding: 2rem;
        padding-top: 1rem;
    }

.icon-add-component-document-icon {
    composes: icon-add-component-document-icon from './Button.module.css';
}

.preview-link-a {
    height: 192px;
}



