.Header {
    composes: Header from '../App.module.css';
    background-color: var(--light-background);
}

    .header-container {
        composes: Header;
        display: grid;
        margin: 10px;
        flex-direction: column;
        grid-template-columns: 1fr 200px 200px;
        grid-template-rows: inherit;
        grid-template-areas: 
          "empty icons action"
    }

        .empty-container{
            grid-area: empty;
        }

        .icons-container{
            grid-area: icons;
        }

        .action-container{
            grid-area: action;
            display: flex;
            flex-direction: row;
        }

