.container {
  display: grid;
  grid-template-rows: 50px 300px;
  grid-template-columns: 350px;
  grid-template-areas: 
    "title"
    "body";
  position: relative;
  background-color: var(--mistake-bar-dark);
  color: var(--text-dark);
  flex-direction: column;
  justify-content:flex-start;
  margin-top: 2rem;
  font-size: 16px;
}

.title-container {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1rem;
  font-weight: bold;
  margin-top: 0;
  color: white;
  background-color: var(--text-dark);
}

.body-container {
  grid-area: body;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mistakes-statistics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "chart description";
}

.chart-container {
  grid-area: chart;
}

.description-container {
  grid-area: description;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  gap: 10px;
}

  .description-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    gap: 20px;
  }

    .label {
      font-weight: bold;
      font-size: 12px;
      width: 35%;
    }

    .data {
      color: var(--action-button);
      font-weight: bold;
      background-color: var(--text-medium-dark);
      padding: 2px; 
      padding-right: 4px;
    }

    .percentage {
      font-weight: bold;
      margin-left: -15px;
    }

.mistakeList {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 10%;
  padding-right: 10%;
}

.mistake {
  font-size: 16px;
  margin: 5px;
  background-color: var(--lightest-background);
  padding-left: 15%;
  padding-right: 15%;
}

