.TextBox {
    display: grid;
}

    .default-text-box {
        composes: TextBox;
    }

        .paragraph-text-box {
            composes: default-text-box;
            background-color: white;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 20px;
            grid-template-areas:
                "textarea"
                "icons";
            padding: 2rem;
            padding-bottom: 1rem;
        }    

            .paragraph-text-box-onfocus {
                composes: paragraph-text-box;
                background-color: var(--medium-background);
            }

.textarea {
    grid-area: textarea;
    border: none;
    resize: none;
    font-family: inherit;
    background-color: inherit;
    font-size: 17px;
}

.textarea:focus {
    outline: none;
}

.icons-container {
    grid-area: icons;
    display: flex;
    justify-content: right;
}

    .icon-single-textbox-icon {
        composes: icon-single-textbox-icon from './Button.module.css';
    }
